@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


body {

    font-family: 'Poppins', sans-serif;

}


.menu-navbar ul li{

    font-size: 17px;
    padding: 20px;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


#navbarNav li a:hover {

    color: rgb(225, 163, 223);

}


.header-content {

    height: 55vh;
    display: block;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(/images/estudio-uñas.jpg);
        background-size: cover;
    color: aliceblue;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover;

}


.header-content {

    text-align: center;
}


.header-content h1 {

    font-size: 65px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 70px;
    padding-top: 80px;


}


.header-content p {

    color: #c5c5c5;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 25px;


}







.btn-1 {

    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(225, 163, 223);
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;

}












